<section>
  <h1 class="title text-center">Rockets</h1>

  <div appShowcase class="rockets flex gap-x-5">
    <mat-card *ngFor="let rocket of rockets" class="rocket p-0 flex gap-x-5 justify-center mb-3">
      <mat-card-content>
        <img class="rocket__image" [src]="rocket.flickr_images[0]" alt="Photo of a rocket" width="500" height="375">
        <div class="rocket__backdrop">
          <div class="rocket-description p-5">
            <mat-card-title class="rocket__title text-center">{{ rocket.name }}</mat-card-title>
            <mat-card-subtitle class="rocket__subtitle text-center">{{ rocket.company }}</mat-card-subtitle>
            <p class="rocket__cost text-center"><span class="font-bold">Cost per launch:</span> {{ rocket.cost_per_launch | currency }}</p>
            <p class="rocket__country text-center"><span class="font-bold">Country:</span> {{ rocket.country }}</p>
            <a mat-raised-button class="rocket__link" [href]="rocket.wikipedia" target="_blank">
              <span>Read article</span>
            </a>
          </div>
        </div>

      </mat-card-content>
    </mat-card>

  </div>
</section>
