<h1 class="title text-center m-0" mat-dialog-title>Crew </h1>
<div class="py-5" mat-dialog-content>
  <mat-spinner class="m-auto" *ngIf="!crew"></mat-spinner>
  <div class="wrapper gap-5">
    <mat-card class="member" *ngFor="let member of crew">
      <mat-card-header class="justify-center">
        <mat-card-title class="member__title">{{ member.name }}</mat-card-title>
      </mat-card-header>
      <img width="300" [src]="member.image">
      <mat-card-content class="member__info">
        <p class="mt-1"><span class="font-bold">Agency:</span> {{ member.agency }}</p>
        <p><span class="font-bold">Status:</span> {{ getStatus(member.status) }}</p>
      </mat-card-content>
      <a mat-raised-button class="member__link" [href]="member.wikipedia" target="_blank">
        <span>Wikipedia</span>
      </a>
    </mat-card>
  </div>
</div>
