a {
  width: 100% !important;
  word-wrap: break-word;
  white-space: pre-wrap
}

mat-icon {
  margin-right: 10px;
  margin-bottom: 5px;
}


.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
