<h1 class="text-center mt-2">Eventos históricos</h1>
<div #wrapper id="wrapper" class="flex flex-initial flex-nowrap overflow-auto mt-5">
  <!-- <span>
    <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon>
  </span> -->
    <mat-card *ngFor="let historicalEvent of historialEvents$">
      <h1>{{ historicalEvent.title }}</h1>
      <p>{{ historicalEvent.date }}</p>
      <p>{{ historicalEvent.details }} </p>
      <a mat-raised-button [href]="historicalEvent.links.article" target="_blank">
        <mat-icon aria-hidden="false">menu_book</mat-icon> <span>Artigo</span>
      </a>
    </mat-card>
  <!-- <span>
    <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back_ios</mat-icon>
  </span> -->

</div>
