<section>
  <h1 class="title text-center">Payload Details</h1>
  <mat-spinner class="m-auto" *ngIf="!payloads"></mat-spinner>
  <div class="mat-elevation-z4 py-2 px-4 my-5" *ngFor="let payload of payloads">
    <h2 class="payload__name text-center">{{ payload.name || 'Not provided'}}</h2>
    <div class="flex flex-wrap flex-grow gap-x-7">
      <div>
        <p>Customers: {{ payload.customers.join(' ,') || 'Not provided' }}</p>
        <p>Manufacturers: {{ payload.manufacturers.join(' ,') || 'Not provided' }}</p>
        <p>Nationalities: {{ payload.nationalities.join(' ,') || 'Not provided' }}</p>
        <p>Orbit: {{ payload.orbit || 'Not provided' }}</p>
        <p>Type: {{ payload.type || 'Not provided' }}</p>
        <p>Mass (KG): {{ payload.mass_kg || 'Not provided' }}</p>
      </div>

      <div>
        <p>Mass (LBS): {{ payload.mass_lbs || 'Not provided' }}</p>
        <p>Reference system: {{ (payload.reference_system | uppercase) || 'Not provided' }}</p>
        <p>Span life (years): {{ payload.spanlife_years || 'Not provided' }}</p>
        <p>Inclination: {{ payload.inclination_deg || 'Not provided' }}</p>
        <p>Reused: {{ (payload.reused ? 'Yes' : 'No') || 'Not provided' }}</p>
      </div>
    </div>
  </div>
</section>
