@import '../../variables.scss';

#container {
  height: 90vh;
}

@media(min-width: $lg) and (orientation: landscape) {
  #container {
    height: 75vh;
  }
}

table {
  width: 100%;
  tr th:first-child {
    width: 50%;
  }
  tr th:not(th:first-child) {
    width: 12.5%;
  }
}

.loading-shade {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
