@import '../../variables.scss';

.title {
  text-align: center;
  color: white;
  font-size: 6rem;
  margin-block: 100px;
  padding-inline: 16px;
}


@media(max-width: $sm) {
  .title {
    font-size: 4rem;
  }
}
